@import "variables";

.product-card {
  width: 291px;
  height: 498px;
  box-sizing: border-box;
  position: relative;
  &.clickable{
    cursor: pointer;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    .product-card-image{
      transition: all .2s ease-in;
      overflow: hidden;
      background-size: 100%;
    }

    &:hover{
      -webkit-box-shadow: 0 0 8px 0 $filter-header-bg;
      -moz-box-shadow: 0 0 8px 0 $filter-header-bg;
      box-shadow: 0 0 8px 0 $filter-header-bg;
      .product-card-image{
        background-size: 102%;
      }
    }
  }

  .product-card-favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
    svg {
      width: 24px;
      height: 24px;
      fill: none;
      path:first-child{
        fill: black;
      }
      &:hover{
        path:first-child{
          fill: #6dd478;
        }
      }
    }
    .in-favorites {
      svg{
        path{
          fill: #6dd478;
        }
        &:hover{
          path{
            fill: #B6D5B9;
            &:first-child{
              fill: #6dd478;
            }
          }
        }
      }
    }
  }

  .product-card-image-wrapper{
    width: 291px;
    height: 291px;
    overflow: hidden;
    border-radius: 5px;
    .product-card-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: default;
      transition: transform 0.3s ease-in-out;
      &.disabled {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: gray(1);

        &:hover {
          filter: unset;
        }
      }
      &:hover{
        transform: scale(102%);
      }
    }
    &:hover  ~.product-card-name{
      color: $link-color;
    }
  }

  .product-card-name {
    margin-top: 15px;
    padding: 0 10px;
    height: 52px;
    color: $green-text-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    user-select: none;
  }

  .product-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;

    .product-card-price {
      color: $green-text-color;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 1;
      margin-left: 4px;
      cursor: default;
      user-select: none;
    }

    .product-card-action {
      .button {
        width: 175px;
      }
    }

  }

  .product-card-extra {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    svg {
      fill: none;
    }

    .product-card-detail {
      display: flex;
      align-items: center;
      svg{
        fill:$more-link-color;
      }

      span {
        margin-left: 8px;
        color: $more-link-color;
        font-size: 16px;
        font-weight: 400;
      }

      &:hover{
        svg{
          fill: $link-color;
        }
        span{
          color: $link-color;
        }
      }

    }
  }
}
