<div class="catalog-filter" [class.open]="open">
  <div class="catalog-filter-head" (click)="toggle()">
    <span>{{title}}</span>
    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.0003 14C9.41693 14 8.83359 13.775 8.39193 13.3334L2.95859 7.90003C2.71693 7.65837 2.71693 7.25837 2.95859 7.0167C3.20026 6.77503 3.60026 6.77503 3.84193 7.0167L9.27526 12.45C9.67526 12.85 10.3253 12.85 10.7253 12.45L16.1586 7.0167C16.4003 6.77503 16.8003 6.77503 17.0419 7.0167C17.2836 7.25837 17.2836 7.65837 17.0419 7.90003L11.6086 13.3334C11.1669 13.775 10.5836 14 10.0003 14Z" fill="#2C2C2C"/>
    </svg>
  </div>
  <div class="catalog-filter-body" [@expandCollapse]="open ? 'open' : 'closed'">
    <label class="catalog-filter-checkbox" *ngFor="let type of categoryWithTypes?.types">
      <input type="checkbox" #input
             [checked]="activeParams.types.includes(type.url)"
             (change)="updateFilterParam(type.url,input.checked)">
      <span class="chk-svg-unchecked">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="13" height="13" rx="2.16667" stroke="#2C2C2C"/>
        </svg>
      </span>
      <span class="chk-svg-checked">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.583333" y="0.583333" width="12.8333" height="12.8333" rx="2.52778" stroke="#519157" stroke-width="1.16667"/>
        <path d="M10.8891 3.2002L6.15224 10.7002L2.59961 5.96335" stroke="#519157" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
      <span class="chk-title">{{type.name}}</span>
    </label>
    <div class="catalog-filter-from-to" *ngIf="type">
      <span>от</span>
      <input #fromInp type="number" min="0" step="1" class="small-input" [ngModel]="from"
             (ngModelChange)="updateFilterFromTo(type+'From',$event)">
      <span>до</span>
      <input type="number" [min]="fromInp.value" step="1" class="small-input" [ngModel]="to"
             (ngModelChange)="updateFilterFromTo(type+'To',$event)">
      <span>{{units}}</span>
    </div>
  </div>
</div>
