<div class="favorite">
  <div class="container">
    <div class="favorite-title">Избранное</div>
    <div class="favorite-empty" *ngIf="!favoriteProducts.length">
      <div class="cart-empty-message">В избранном нет товаров</div>
      <button class="button" [routerLink]="['/',appLanguage,'catalog']">В каталог</button>
    </div>

    <div class="favorite-products" *ngIf="favoriteProducts.length">
      <div class="favorite-product" *ngFor="let favProduct of favoriteProducts; let arrIndex = index;">
        <div class="first-group">
          <div class="favorite-product-image-wrapper">
            <div class="favorite-product-image"
                 [routerLink]="['/',appLanguage,'product', favProduct.url]"
                 [class.disabled]="favProduct.disabled"
                 [style.background-image]="'url('+serverImagesPath + favProduct.image + ')'"></div>
          </div>
          <div class="favorite-product-name">
            <a [routerLink]="['/',appLanguage,'product', favProduct.url]">{{ favProduct.name }}</a>
          </div>
          <div class="favorite-product-attention" [matTooltip]="'Товар заканчивается! Доступно '+favProduct.count + ' единиц'"
               matTooltipClass="mat-tooltip-compact"
               matTooltipPosition="above"
               matTooltipHideDelay="200"
               *ngIf="favProduct.ends && !favProduct.disabled">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
          </div>
        </div>
        <div class="second-group">
          <div class="favorite-product-price">{{ favProduct.price }} EUR</div>
          <count-selector (onCountChange)="updateCount($event,arrIndex)" [count]="favProduct.countInCart?favProduct.countInCart:1" [maxCount]="favProduct.count" [disabled]="favProduct.disabled" [filterOn]="favProduct.isInCart"></count-selector>
          <div class="favorite-product-action">
            <button class="button" matTooltip='Добавить в корзину' matTooltipClass="mat-tooltip-compact" matTooltipPosition="above"
                    matTooltipShowDelay="200" matTooltipHideDelay="200" *ngIf="!favProduct.isInCart" [disabled]="favProduct.disabled" (click)="updateCart(favProduct.id,favProduct.countInCart?favProduct.countInCart:1)">В корзину</button>
            <button class="button button-transparent button-in-cart" matTooltip='Удалить из корзины' matTooltipClass="mat-tooltip-compact" matTooltipPosition="above"
                    matTooltipShowDelay="200" matTooltipHideDelay="200"
                    *ngIf="favProduct.isInCart" [disabled]="favProduct.disabled" (click)="removeFromCart(arrIndex)">
              <span>В корзине</span>
              <span>Удалить</span>
            </button>
          </div>
          <div class="favorite-product-remove">
            <a matTooltip='Удалить из избранного' matTooltipClass="mat-tooltip-compact" matTooltipPosition="above"
               matTooltipShowDelay="200" matTooltipHideDelay="200" (click)="removeFromFavorites(favProduct.id)">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke-linecap="round"/>
                <line x1="13.9238" y1="2.62996" x2="1.90301" y2="14.6508" stroke-linecap="round"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
