@import "variables";
@import "mixins";
.favorite{
  padding-top: 50px;
  padding-bottom: 110px;
  .container{
    .favorite-title{
      @include head-lora(36px);
      color:$green-text-color;
      margin-bottom: 35px;
    }
    .favorite-empty{
      margin-top: 40px;
      margin-bottom: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .cart-empty-message{
        font-size: 26px;
        margin-bottom: 20px;
      }
      .button{
        width: 255px;
      }
    }
    .favorite-products{
      .favorite-product{
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $applied-filter-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child{
          padding-top: 0;
          margin-top: 0;
          border-top: none;
        }
        .favorite-product-image{
          width: 100px;
          height: 100px;
          background-position: center;
          background-size: cover;
          border-radius: 5px;
          position: relative;
          .ends-message{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
          }
          &.disabled {
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -o-filter: grayscale(1);
            -ms-filter: gray(1);

            &:hover {
              filter: unset;
            }
          }
        }
        .favorite-product-name{
          margin-left: 24px;
          font-size: 20px;
          color: $gray-text-color;
          width: 567px;
          margin-right: 20px;
        }
        .favorite-product-price{
          width: 110px;
          margin-right: 183px;
          font-size: 22px;
          font-weight: 600;
          color: $gray-text-color;

        }
        .favorite-product-action{
          width: 160px;
          margin-right: 60px;
        }
        .favorite-product-remove{
          width: 16px;
          height: 16px;

          svg{
            width: 100%;
            height: 100%;
            fill:none;
            stroke: $remove-btn-color;
            &:hover{
              cursor: pointer;
              stroke: $remove-btn-color-h;
            }
          }
        }
      }
    }
  }
}


