@import "variables";
@import "mixins";
.favorite{
  padding-top: 50px;
  padding-bottom: 110px;
  .container{
    .favorite-title{
      @include head-lora(36px);
      color:$green-text-color;
      margin-bottom: 35px;
    }
    .favorite-empty{
      margin-top: 40px;
      margin-bottom: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .favorite-empty-message{
        font-size: 26px;
        margin-bottom: 20px;
      }
      .button{
        width: 255px;
      }
    }
    .favorite-products{
      .favorite-product{
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $applied-filter-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child{
          padding-top: 0;
          margin-top: 0;
          border-top: none;
        }
        .first-group{
          min-width: 463px;
          max-width: 611px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          .favorite-product-image-wrapper{
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 5px;
            .favorite-product-image{
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: cover;
              position: relative;
              transition: transform .2s;
              cursor: pointer;
              &.disabled {
                filter: grayscale(1);
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(1);
                -o-filter: grayscale(1);
                -ms-filter: gray(1);
                &:hover {
                  filter: unset;
                }
              }
              &:hover{
                transform: scale(1.1);
              }
            }
            &:hover ~.favorite-product-name a{
              color:$link-color;
            }
          }

          .favorite-product-name{
            margin-left: 24px;
            font-size: 20px;
            margin-right: 20px;
            a{
              color: $gray-text-color;
              &:visited{
                color: $gray-text-color;
              }
              &:hover{
                color:$link-color;
              }
            }
          }
          .favorite-product-attention{
            width: 26px;
            height: 26px;
            svg{
              height: 100%;
              width: 100%;
              fill: $attention-icon-color;
              animation: attention-rotate 4s infinite linear;
            }
            &:hover{
              svg{
                fill: $attention-icon-color-h;
                cursor: pointer;
              }

            }
          }
        }
        .second-group{
          display: flex;
          align-items: center;
          .favorite-product-price{
            width: 100px;
            font-size: 22px;
            font-weight: 600;
            color: $gray-text-color;
            user-select: none;
          }
          .favorite-product-action{
            margin-left: 20px;
            width: 175px;
            margin-right: 40px;
            button{
              width: 100%;
            }
          }
          .favorite-product-remove{
            width: 16px;
            height: 16px;

            svg{
              width: 100%;
              height: 100%;
              fill:none;
              stroke: $remove-btn-color;
              &:hover{
                cursor: pointer;
                stroke: $remove-btn-color-h;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes attention-rotate {
  0%{
    transform: rotateY(0deg);
  }
  25%{
    transform: rotateY(45deg);
  }
  50%{
    transform: rotateY(0deg);
  }
  75%{
    transform: rotateY(-45deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

