@import "variables";
@import "mixins";

.catalog {
  padding-top: 100px;
  padding-bottom: 110px;

  .container {
    .catalog-title {
      @include head-lora(36px);
      margin-left: 317px;
      margin-bottom: 33px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 317px;
      margin-bottom: 30px;

      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .catalog-applied-filter {
          box-sizing: border-box;
          border: 1px solid $applied-filter-border;
          border-radius: 50px;
          font-size: 16px;
          color: $gray-text-color;
          padding: 8px 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          transition: all .2s ease-in-out;
          cursor: default;

          a {
            display: flex;
            cursor: pointer;
            svg {
              width: 16px;
              height: 16px;
              stroke: $applied-filter-close;
              transition: all .2s ease-in-out;
            }
            &:hover{
              svg {
                stroke: $applied-filter-close-h;
                transform: scale(1.2);
              }
            }
          }

          &:hover {
            border-color: $applied-filter-close-h;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
            -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
          }

        }
      }
      .catalog-sorting{
        width: 190px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        .catalog-sorting-head{
          display: flex;
          justify-content: end;
          padding: 12px 0 12px 23px;
          color: $sort-color;
          user-select: none;

          div {
            display: flex;
            align-items: center;
            cursor: pointer;
            span{
              margin-right: 8px;
            }
            svg{
              width: 20px;
              height: 20px;
              fill: $sort-color;
              transition: transform .2s ease-in-out;
            }
          }

          &:hover{
            color: $sort-color-h;
            div{
              svg{
                fill: $sort-color-h;
              }
            }
          }
        }
        .catalog-sorting-body{
          display: none; //flex;
          position: absolute;
          right: 0;
          z-index: 3;
          width: 100%;
          box-sizing: border-box;

          padding:0;
          flex-direction: column;
          background-color: #F5F5F5;
          border-radius: 0 0 5px 5px;
          //gap: 14px;
          .catalog-sorting-item{
            padding: 11px 23px;
            color: #8E8E8E;
            cursor: pointer;
            border-radius: 5px;
            &:hover{
              background-color: rgba($active-sort-bg-color, 0.6);
            }
            &.active{
              color:#000000;
              background-color: $active-sort-bg-color;
            }
          }
        }
        &.open{
          .catalog-sorting-head{
            border-radius: 5px 5px 0 0;
            padding: 12px 23px;
            background-color: #EBEBEB;
            div{
              justify-content: space-between;
              color: #000000;
              width: 100%;
              svg{
                transform: rotate(180deg);
              }
            }
          }
          .catalog-sorting-body{
            display: flex;
          }
        }
      }
    }
    .catalog-layout{
      display: flex;
      margin-bottom: 80px;

      .catalog-filters {
        width: 257px;
        flex-shrink: 0;
        margin-right: 58px;

      }
      .catalog-products{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill,291px);
        gap: 30px 26px;
      }
      .products-not-found{
        width: 100%;
        text-align: center;
        padding: 20px 15px 0 0;
        .title{
          @include head-lora(32px);
          margin-bottom: 10px;
        }
        .recommendations{
          @include head-lora(26px);
          a{
            color:$link-color;
          }
        }

      }

    }
    .pagination{
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      user-select: none;
      .pagination-arrow{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          fill:$pagination-arrows-color;
          width: 24px;
          height: 24px;
          transition: .2s ease-in;
        }
        &:hover{
          svg{
            transform: scale(1.2);
          }
        }
        &.disabled{
          svg{
            opacity: 0.4;
            cursor: not-allowed;
          }
          &:hover{
            svg{
              transform: none;
            }
          }
        }
      }
      .pagination-pages{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        gap: 10px;
        .pagination-page{
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color .2s ease-in;
          color: $pagination-font-color;
          border-radius: 50%;
          font-size: 20px;
          span{
            transition: .2s ease-in;
          }
          &.active{
            width: 60px;
            height: 60px;
            background-color: $pagination-active-page-bg;
            border-radius: 50%;
            margin-left: -15px;
            margin-right: -15px;
            &:first-child{
              margin-left: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
          &:hover{
            span{
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
