@import "variables";
@import "mixins";

.cart{
  padding-top: 50px;
  padding-bottom: 110px;
  .container{
    .cart-title{
      @include head-lora(36px);
      color: $cart-header-color;
      line-height: 1;
      margin-bottom: 35px;
    }
    .cart-info{
      display: flex;
      justify-content: space-between;
      margin-bottom: 160px;
      font-family: 'Montserrat', sans-serif;
      color: $gray-text-color;
      .cart-products{
        display: flex;
        flex-direction: column;
        width: 678px;
        .cart-product{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #EBEBEB;
          padding-bottom: 20px;
          margin-bottom: 20px;
          &:first-child{
            border-top: none;
            padding-top: unset;
            margin-top: unset;
          }

          .cart-product-image{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            border-radius: 5px;
            margin-right: 26px;
            &.disabled {
              filter: grayscale(1);
              -webkit-filter: grayscale(1);
              -moz-filter: grayscale(1);
              -o-filter: grayscale(1);
              -ms-filter: gray(1);

              &:hover {
                filter: unset;
              }
            }
          }
          .cart-product-name{


            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            width: 247px;
            margin-right: 10px;
            a{
              color: $black-text-color;
              &:visited{
                color: $black-text-color;
              }
              &:hover{
                color:$link-color;
              }
            }
          }
          .cart-product-price{
            margin-left: 69px;
            color: $gray-text-color;
            font-size: 18px;
            font-weight: 600;
            width: 109px;
            margin-right: 10px;
          }
          .cart-product-remove{
            width: 16px;
            height: 16px;
            svg{
              width: 100%;
              height: 100%;
              fill:none;
              stroke: $remove-btn-color;
              &:hover{
                cursor: pointer;
                stroke: $remove-btn-color-h;
              }
            }

          }
        }
      }
      .cart-details{
        width: 501px;
        .cart-details-info{
          padding: 40px;
          border-radius: 5px;
          background: $details-info-bg;
          margin-bottom: 12px;
          .cart-details-info-title{
            @include head-lora(26px);
            margin-bottom: 20px;
          }
          .cart-details-info-item{
            display: flex;
            align-items: center;
            &.first{
              margin-bottom: 10px;
            }

            .cart-details-info-item-caption{
              font-size: 16px;
              margin-right: 12px;
            }
            .cart-details-info-item-data{
              font-size: 20px;
              font-weight: 500;
            }
          }
          .cart-details-info-delivery{
            font-size: 14px;
            font-weight: 300;
            margin-top: 5px;
          }
        }
        .cart-details-actions{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          .button{
            width: 234px;

          }
          .button-transparent{
            width: 255px;
            color:$transp-button-font-color
          }
        }
      }
    }
    .cart-empty{
      margin-top: 40px;
      margin-bottom: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .cart-empty-message{
        font-size: 26px;
        margin-bottom: 20px;
      }
      .button{
        width: 255px;
      }
    }

  }
}
