<div class="info">
  <div class="container">
    <div class="personal-title">{{translations.pageHeader}}</div>
    <div class="personal-pages-selector">
      <div class="personal-page active">{{translations.menuProfileButton}}</div>
      <div class="personal-page" [routerLink]="['/',appLanguage,'orders']">{{translations.menuOrdersButton}}</div>
    </div>

    <div class="data-form" [formGroup]="infoForm">
      <div class="data-form-block">
        <div class="data-form-label">{{translations.menuProfileButton}}</div>
        <div class="data-form-label-additional">{{translations.infoListText}}</div>
        <div class="data-form-inputs personal-data-inputs">
          <input type="text" class="input" [placeholder]="translations.firstNamePlaceholder" formControlName="firstName"
                 (blur)="changeFirstLetter(firstName)"
                  [matTooltip]="translations.firstNameHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
          <input type="text" class="input" [placeholder]="translations.lastNamePlaceholder" formControlName="lastName"
                 (blur)="changeFirstLetter(lastName)"
                  [matTooltip]="translations.lastNameHint" matTooltipClass="mat-tooltip-compact"
                 matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
          <input type="text" class="input" [placeholder]="translations.phonePlaceholder" formControlName="phone"
                  [matTooltip]="translations.phoneHint" matTooltipClass="mat-tooltip-compact"
                 matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
          <input type="text" class="input" [placeholder]="translations.emailPlaceholder" formControlName="email"
                  [matTooltip]="translations.emailHint" matTooltipClass="mat-tooltip-compact"
                 matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
        </div>
      </div><!--Личные данные-->

      <div class="data-form-block">
        <div class="data-form-label">{{translations.passwordTitle}}</div>
        <div class="data-form-inputs password-data-inputs">
          <div class="input-wrapper old-pass">
          <input type="password" #oldPwd showPassword class="input" [class.inValid]="oldPassFalse && oldPassword?.value"
                 [placeholder]="translations.actualPasswordPlaceholder" formControlName="oldPassword"
                  [matTooltip]="translations.actualPasswordHint" matTooltipClass="mat-tooltip-compact"
                 matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200"
                 (keydown.enter) = "checkOldPassword(oldPwd)">
          </div>
          <button type="button" class="button small-btn old-pass-check"
                  [disabled]="oldPassword?.invalid || !oldPassword?.value" [class.checked]="oldPassChecked"
                  (click)="checkOldPassword(oldPwd)"
                  [matTooltip]="oldPassChecked?translations.actualPasswordCheckedBtnHint:translations.actualPasswordCheckBtnHint"
                  matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200"
                  matTooltipHideDelay="200">
            <svg *ngIf="oldPassChecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
              <path
                d="M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z"/>
            </svg>
            <span *ngIf="!oldPassChecked">{{translations.actualPasswordCheckBtn}}</span>
          </button>
          <div class="input-wrapper new-pass">
            <input type="password" class="input" [placeholder]="translations.newPasswordPlaceholder" formControlName="newPassword" showPassword
                   [matTooltip]="oldPassChecked?translations.newPasswordHint:translations.newPasswordDisabledHint"
                   matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200"
                   matTooltipHideDelay="200"></div>
          <div class="input-wrapper new-pass-repeat">
          <input type="password" class="input" [placeholder]="translations.newPasswordRepeatPlaceholder" showPassword
                 formControlName="newPasswordRepeat"
                 [class.inValid]="infoForm.hasError('passwordMismatch')"
                 [matTooltip]="infoForm.hasError('passwordMismatch')?translations.newPasswordRepeatErrorHint:translations.newPasswordRepeatHint"
                 matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200"
                 matTooltipHideDelay="200">
          </div>
        </div>
      </div><!--Пароль-->

      <div class="data-form-block">
        <div class="data-form-label">{{translations.addressTitle}}</div>
        <div class="data-form-inputs address-data-inputs">
          <mat-form-field class="select-input region"
                           [matTooltip]="translations.regionHint" matTooltipClass="mat-tooltip-compact"
                          matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <mat-label class="select-label">{{translations.regionLabel}}</mat-label>
            <mat-select formControlName="region">
              <mat-option value="-">None</mat-option>
              <mat-option [value]="region" *ngFor="let region of regionList">{{ region }}</mat-option>
            </mat-select>
          </mat-form-field>
          <input type="text" class="input town" [placeholder]="translations.townPlaceholder" formControlName="city"
                  [matTooltip]="translations.townHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
          <input type="text" class="input zip" [placeholder]="translations.indexPlaceholder" formControlName="zip"
                  [matTooltip]="translations.indexHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
          <input type="text" class="input street" [placeholder]="translations.streetPlaceholder" formControlName="street"
                  [matTooltip]="translations.streetHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
          <input type="text" class="input house" [placeholder]="translations.housePlaceholder" formControlName="house"
                  [matTooltip]="translations.houseHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
        </div>
      </div>

      <div class="data-form-block" *ngIf="deliveryTypes.length">
        <div class="data-form-label">{{translations.shipmentTypeTitle}}</div>
        <div class="data-form-types">
          <div class="data-form-type-item" *ngFor="let deliveryType of deliveryTypes"
               [class.active]="deliveryTypeField?.value == deliveryType.id"
               [class.disabled]="deliveryType.disabled"
               [matTooltip]="deliveryType.disabled?translations.shipmentTypeDisabledTitle:''"
               matTooltipClass="mat-tooltip-compact"
               matTooltipPosition="below"
               matTooltipHideDelay="200"
               (click)="changeDeliveryType(deliveryType)">{{ deliveryType.deliveryType }}
          </div>
        </div>
      </div> <!--Способ доставки-->

      <div class="data-form-block" *ngIf="paymentTypes.length">
        <div class="data-form-label">{{translations.paymentTypeTitle}}</div>
        <div class="data-form-radio">
          <div class="data-form-radio-block" *ngFor="let paymentType of paymentTypes">
            <input type="radio"
                   [id]="'radio_'+paymentType.id"
                   [value]="paymentType.id"
                   formControlName="paymentType_id">
            <label [for]="'radio_'+paymentType.id">{{ paymentType.paymentType }}</label>
          </div>
        </div>
      </div> <!--Способ оплаты-->

      <button class="button" [disabled]="!(infoForm.dirty && infoForm.valid)" (click)="updateUserInfo()">{{translations.saveButton}}</button>
    </div>

    <div class="page-image">
      <img ngSrc="/images/page/main.png" priority width="1025" height="587" alt="flower">
    </div>

  </div>

  <div class="email-not-verified-message" *ngIf="emailVerifyNotification">
    <div class="close-btn" (click)="closeVerifyNotification()"
         [matTooltip]="translations.closeButton" matTooltipClass="mat-tooltip-compact"
         matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke-linecap="round"/>
        <line x1="13.9238" y1="2.62971" x2="1.90301" y2="14.6505" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="dialog-content">
      <div class="dialog-header">{{ translations.verificationNotifyHeader }}</div>
        <div class="dialog-content-message">{{translations.verificationNotifyMessage}}</div>
        <div class="dialog-content-action">
          <button class="button notify-btn" [disabled]="emailTimer" (click)="sendVerificationEmail()"
                  [matTooltip]="emailTimer?translations.sentEmailButtonDisabledHint:translations.sentEmailButtonActiveHint" matTooltipClass="mat-tooltip-compact"
                  matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200"
          >{{translations.sentEmailButtonCaption}}<span class="monospace">{{emailTimer?emailTimer:''}}</span></button>
        </div>
    </div>
  </div>
</div>
