@import "variables";
@import "mixins";
@import "data-form";

.info{
  padding-top: 50px;
  padding-bottom: 128px;
  position: relative;
  overflow: hidden;

  .container{
    .personal-title{
      @include head-lora(32px);
      margin-bottom: 30px;
    }
    .personal-pages-selector{
      margin-bottom: 50px;
      font-family: "Lora", "sans-serif";
      color: $green-text-color;
      font-size: 26px;
      font-weight: 400;
      display: flex;
      align-items: center;
      .personal-page{
        border-bottom: 2px solid $page-selector-color;
        padding: 0 15px 12px 14px;
        cursor: pointer;
        &.active{
          border-bottom: 3px solid $page-selector-active-color;
        }
      }
    }

    .data-form{
      .input-wrapper{
        input{
          width: 100%;
        }
      }
      .button{
        width: 169px;
        &.small-btn{
          width: unset;
        }
      }
    }
    .page-image{
      position: absolute;
      width: 1025px;
      height: 587px;
      bottom: 0;
      right: calc(50% - 700px);
      z-index: -1;
      @include image-wrapper();
      img{
        vertical-align: bottom;
      }
    }
  }

  .email-not-verified-message{
    padding: 15px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid $popup-border-color;
    background-color: rgba($popup-background-color, 0.2);
    backdrop-filter: blur(3px);

    border-radius: 15px;

    .close-btn{
      position: absolute;
      right: 10px;
      top: 10px;
      width: 14px;
      height: 14px;
      svg{
        width: 100%;
        height: 100%;
        fill:none;
        stroke: $remove-btn-color;
        &:hover{
          cursor: pointer;
          stroke: $remove-btn-color-h;
        }
      }

    }
    .dialog-content{
      .dialog-header{
        font-weight: bold;
        padding-bottom: 8px;
      }
      .dialog-content-message{
        margin-bottom: 8px;
        text-align: justify-all;
        line-height: 1.3;
      }
      .dialog-content-action{
        display: flex;
        justify-content: center;
      }
    }

  }
}
