$container-width: 1240px;//ширина контейнера
$green-text-color: #202B21;
$gray-text-color: #2C2C2C;
$black-text-color: #000;
$base-bg-color: #648F64;
$green-bg-color-sections: #A4CBA3;

$input-border:#2A592E;//reviews-border
$small-input-border:#6CAC72;
$link-color: #519057;
$applied-filter-border: #E7F1E8;
$applied-filter-close: #A8ABA7;
$applied-filter-close-h: #2C2C2C;

$more-link-color: #9AA89B;//info-card
$green-button-color : #456F49;

$snackbar-btn-color : #FAFAFA;
$snackbar-err-color : #d32f2f;

//Catalog
$filter-header-bg:#B6D5B9;
$pagination-arrows-color: $gray-text-color;
$pagination-active-page-bg: #C5E6C8;
$pagination-font-color: #292D32;
