@import "variables";//Чтоб работало без путей, добавил раздел в angular.json

footer.footer{
  padding-top: 39px;
  padding-bottom: 50px;
  background-color: $base-bg-color;
  .container{
    display: flex;

    .logo{
      display: flex;
      justify-content: center;
      margin-right: 63px;

      .logo-link{
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        flex-shrink: 0;
        width: 150px;
        height: 90px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }

    .footer-block{
      margin-top: 11px;
      &.footer-menu{
        margin-right: 57px;
      }
      &.footer-categories{
        margin-right: 34px;
      }
      &.footer-info{
        margin-right: 66px;
        .footer-head{
          margin-bottom: 15px;
        }
        .footer-social{
          display: flex;
          align-items: center;
          gap: 12px;
          margin-bottom: 55px;
          a{
            position: relative;
            width: 24px;
            height: 24px;
            &:before{
              content: "";
              position: absolute;
              z-index: 2;
              left: 0;
              top: 0;
              box-sizing: border-box;
              width: 18px;
              height: 18px;
              background-color: $base-bg-color;
            }
            &:after{
              content: "";
              position: absolute;
              z-index: 1;
              border-radius: 50%;
              left: 0;
              top: 0;
              border:1px solid $green-text-color;
              width: 18px;
              height: 18px;
              box-sizing: border-box;
            }
            svg{
              position: relative;
              fill: $gray-text-color;

              z-index: 3;
              width: 18px;
              height: 18px;
              &.tiktok{
                fill: none;
                width: 21px;
                height: 21px;
                left: -2px;
                top: -2px;
                stroke: $gray-text-color;
              }
            }
            &:hover{
              &:after{
                z-index: 3;
                -webkit-animation: circle 0.6s ease-in-out both;
                animation: circle 0.6s ease-in-out both;
              }
              svg{
                transform: scale(1.2);
                transition: transform .2s;
                fill: $green-text-color;
                &.tiktok{
                    fill: none;
                    stroke: $green-text-color;
                }
              }
            }

          }

        }
        .footer-payment{
          display: grid;
          grid-template-columns: repeat(3, 70px);
          gap: 10px;
          max-width: 230px;
          .payment-item{
            height: 35px;
            background-position: top;
            background-size: cover;
          }
        }
      }
      &.footer-contacts{
        max-width: 253px;
        .footer-contact{
          margin-bottom: 15px;
          color:$gray-text-color;
          &:last-child{
            margin-bottom: 0;
          }
          .footer-contact-head{
            margin-bottom: 6px;
            font-weight: 500;
          }
          .footer-contact-info{
          }
        }
      }
      .footer-head{
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 500;
        color: $gray-text-color;
      }
      .footer-items{
        ul{
          list-style: none;
          padding-left: 0;
          li{
            margin-bottom: 11px;
            &:last-child{
              margin-bottom: 0;
            }

            a{
              font-size: 16px;
              color: $gray-text-color;

            }
          }
        }
      }

    }

  }
}

@keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
