@import "variables";
@import "mixins";

.page-not-found{
  padding: 40px 15px 250px 15px;
  .container{
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      .image{
        width: 339px;
        height: 351px;
        margin-bottom: 50px;
        @include image-wrapper;
      }
      .title{
        @include head-lora(48px);
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
