<section class="reset-password" >
  <div class="container">
    <div class="auth-form" [formGroup]="resetPassForm">
      <div class="auth-title">Восстановление пароля</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Электроная почта" formControlName="email" (keydown.enter)="resetPassword()"
                 matTooltip='Введите Ваш E-Mail адрес' matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
        </div>
      </div>

      <div class="auth-button">
        <button class="button" [disabled]="resetPassForm.invalid || timer" (click)="resetPassword()">{{requestSuccess?'Отправить повторно':'Отправить письмо'}} <span class="monospace">{{timer?timer:''}}</span></button>
      </div>
      <div class="auth-link">
        Перейти на <a [routerLink]="['/',appLanguage,'login']">страницу входа</a>
      </div>
      <div class="auth-link" *ngIf="resetPassLink">
        Перейти на <a href="{{resetPassLink}}">страницу изменения пароля</a>
      </div>

    </div>
    <div class="page-image">
      <img ngSrc="/images/page/reset-pass.png" width="731" height="620" priority alt="Flower">
    </div>
  </div>
</section>
