@import "auth-form";
.reset-password{
  .container{
    display: flex;
    .reset-info{
      max-width: 422px;
    }
    .page-image{
      margin-left: 49px;
      img{
        vertical-align: bottom;
      }
    }
  }
}
