@import "auth-form";
.reset-password{
  .container{
    display: flex;
    .auth-form{
      width: 445px;
    }
    .page-image{
      margin-left: 49px;
      img{
        vertical-align: bottom;
        opacity: 0.6;
      }
    }
  }
}
