<section class="reset-password" >
  <div class="container">
    <div class="auth-form" [formGroup]="resetPassForm">
      <div class="auth-title">{{ translations.pageHeader }}</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" [placeholder]="translations.emailPlaceholder" formControlName="email" (keydown.enter)="resetPassword()"
                 [matTooltip]="translations.emailHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200">
        </div>
      </div>

      <div class="auth-button">
        <button class="button" [disabled]="resetPassForm.invalid || timer" (click)="resetPassword()">{{requestSuccess?translations.resetPassButtonRepeatCaption:translations.resetPassButtonCaption}} <span class="monospace">{{timer?timer:''}}</span></button>
      </div>
      <div class="auth-link">
        {{translations.loginText}} <a [routerLink]="['/',appLanguage,'login']">{{translations.loginLink}}</a>
      </div>
      <div class="auth-link" *ngIf="resetPassLink">
        {{translations.devResetPassBeginText}} <a href="{{resetPassLink}}">{{translations.devResetPassLinkText}}</a>
      </div>

    </div>
    <div class="page-image">
      <img ngSrc="/images/page/reset-pass.png" width="731" height="620" priority alt="Flower" >
    </div>
  </div>
</section>
