<section class="reset-password" >
  <div class="container">
    <div class="auth-form" [formGroup]="resetPassForm">
      <div class="auth-title">Восстановление пароля</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Электроная почта"
                 [ngStyle]="{'border-color':email?.invalid && (email?.dirty || email?.touched)?'red':''}"
                 formControlName="email">
        </div>

      </div>
      <div class="reset-info" *ngIf="requestSuccess">
        <p>На указанный адрес электронной почты было отправлено письмо со ссылкой для сброса пароля. Перейдя по этой ссылке, вы сможете задать новый пароль.</p>
        <p>Если письмо не пришло в течение нескольких минут, пожалуйста, проверьте папку «Спам». В случае отсутствия письма, Вы можете повторить попытку через некоторое время, или обратиться в службу поддержки.</p>
      </div>
      <div class="auth-button">
        <button class="button" [disabled]="resetPassForm.invalid || timer" (click)="resetPassword()">{{requestSuccess?'Отправить повторно':'Отправить письмо'}} {{timer?timer:''}}</button>
      </div>
      <div class="auth-link">
        Перейти на <a routerLink="/login">страницу входа</a>
      </div>
      <div class="auth-link" *ngIf="resetPassLink">
        Перейти на <a href="{{resetPassLink}}">страницу изменения пароля</a>
      </div>

    </div>
    <div class="page-image">
      <img src="/images/page/login.png" alt="Flower">
    </div>
  </div>
</section>
