@import "auth-form";
.change-password{
  .container{
    display: flex;
    justify-content: space-between;
    .page-image{
      margin-left: 49px;
      img{
        vertical-align: bottom;
      }
    }
  }
}
