<section class="change-password" >
  <div class="container">
    <div class="auth-form" *ngIf="rToken" [formGroup]="changePassForm" passwordRepeat>
      <div class="auth-title">Создание нового пароля</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <div class="auth-input">
            <input type="password" placeholder="Пароль" showPassword
                   formControlName="password"
                   matTooltip="Придумайте пароль (минимум 6 символов)" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after"
                   matTooltipShowDelay="200" matTooltipHideDelay="200">
            </div>
          <div class="auth-input">
            <input type="password"  placeholder="Повторите пароль" showPassword formControlName="passwordRepeat"
                   matTooltip="Введите пароль повторно" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after"
                   matTooltipShowDelay="200" matTooltipHideDelay="200">
            </div>
        </div>

      </div>
      <div class="auth-button">
        <button class="button" [disabled]="changePassForm.invalid" (click)="changePassword()">Сохранить пароль</button>
      </div>
      <div class="auth-link">
        Перейти на <a routerLink="/login">страницу входа</a>
      </div>

    </div>
    <div class="page-image">
      <img src="/images/page/login.png" alt="Flower">
    </div>
  </div>
</section>
