@import "auth-form";
.change-password{
  .container{
    display: flex;
    justify-content: space-between;
    .info-message{

      max-width: 430px;
      .info-message-title{
        font-family: "Lora","sans-serif";
        font-weight: 400;
        font-size: 36px;
        color: $green-text-color;
        margin-bottom: 35px;
      }
      .info-message-text{
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 35px;
        a{
          color: $link-color;
          &:hover{
            color: $link-color-h;
          }
        }
      }

      .auth-button{
        text-align: center;
        a{
          width: 100%;
        }
      }
    }



    .page-image{
      margin-left: 49px;
      img{
        vertical-align: bottom;
      }
    }
  }
}
