<section class="change-password" >
  <div class="container">
    <div class="auth-form" *ngIf="rToken" [formGroup]="changePassForm" passwordRepeat>
      <div class="auth-title">{{translations.pageHeader}}</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <div class="auth-input">
            <input type="password" [placeholder]="translations.passwordPlaceholder" showPassword
                   formControlName="password"
                   [matTooltip]="translations.passwordHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after"
                   matTooltipShowDelay="200" matTooltipHideDelay="200">
            </div>
          <div class="auth-input">
            <input type="password" [placeholder]="translations.passwordRepeatPlaceholder" showPassword formControlName="passwordRepeat"
                   [matTooltip]="translations.passwordRepeatHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after"
                   matTooltipShowDelay="200" matTooltipHideDelay="200">
            </div>
        </div>
      </div>
      <div class="auth-button">
        <button class="button" [disabled]="changePassForm.invalid" (click)="changePassword()">{{translations.savePasswordBtn}}</button>
      </div>
      <div class="auth-link">
        {{translations.authText}} <a [routerLink]="['/',appLanguage,'login']">{{translations.authLink}}</a>
      </div>

    </div>
    <div class="page-image">
      <img ngSrc="/images/page/login.png" width="731" height="495" priority [alt]="translations.mainImageAlt">
    </div>
  </div>
</section>
