<div class="order">
  <div class="container">
    <div class="order-title">{{translations.pageHeader}}</div>
    <div class="order-info" *ngIf="cart && deliveryTypes.length && activeDeliveryType">
      <div class="data-form" [formGroup]="orderForm">
        <div class="data-form-block">
          <div class="data-form-label">{{translations.deliveryTypeTitle}}</div>
          <div class="data-form-types">
            <div class="data-form-type-item" *ngFor="let deliveryType of deliveryTypes"
                 [class.active]="activeDeliveryType.id === deliveryType.id"
                 [class.disabled]="deliveryType.disabled"
                 [matTooltip]="deliveryType.disabled?translations.deliveryTypeDisabledHint:''"
                 matTooltipClass="mat-tooltip-compact"
                 matTooltipPosition="below"
                 matTooltipHideDelay="200"
                 (click)="changeDeliveryType(deliveryType)">{{ deliveryType.deliveryType }}
            </div>
          </div>
        </div>

        <div class="data-form-block">
          <div class="data-form-label">{{translations.privateDataTitle}}</div>
          <div class="data-form-inputs personal-data-inputs">
            <input type="text" class="input" [placeholder]="translations.firstNamePlaceholder" formControlName="firstName" (blur)="changeFirstLetter(firstName)"
                   [matTooltip]="translations.firstNameHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input" [placeholder]="translations.lastNamePlaceholder" formControlName="lastName" (blur)="changeFirstLetter(lastName)"
                   [matTooltip]="translations.lastNameHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input" [placeholder]="translations.phonePlaceholder" formControlName="phone"
                   [matTooltip]="translations.phoneHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input" [placeholder]="translations.emailPlaceholder" formControlName="email"
                   [matTooltip]="email?.disabled?translations.emailHint:translations.emailSetHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
          </div>
        </div>

        <div class="data-form-block" *ngIf="activeDeliveryType.addressNeed">
          <div class="data-form-label">{{translations.addressTitle}}</div>
          <div class="data-form-inputs address-data-inputs">
            <mat-form-field class="select-input region"
                            [matTooltip]="translations.regionHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
              <mat-label class="select-label">{{translations.regionLabel}}</mat-label>
              <mat-select  formControlName="region">
                <mat-option [value]="region" *ngFor="let region of regionList">{{region}}</mat-option>
              </mat-select>
            </mat-form-field>
            <input type="text" class="input town" [placeholder]="translations.townPlaceholder" formControlName="city"
                   [matTooltip]="translations.townHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input zip" [placeholder]="translations.indexPlaceholder" formControlName="zip"
                   [matTooltip]="translations.indexHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input street" [placeholder]="translations.streetPlaceholder" formControlName="street"
                   [matTooltip]="translations.streetHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input house" [placeholder]="translations.housePlaceholder" formControlName="house"
                   [matTooltip]="translations.houseHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
          </div>
        </div>

        <div class="data-form-block">
          <div class="data-form-label">{{translations.paymentTypeTitle}}</div>
          <div class="data-form-radio">
            <div class="data-form-radio-block" *ngFor="let paymentType of paymentTypes">
              <input type="radio" [id]="'radio_'+paymentType.id" [value]="paymentType.id" formControlName="paymentType">
              <label [for]="'radio_'+paymentType.id">{{paymentType.paymentType}}</label>
            </div>
          </div>
        </div>

        <div class="data-form-block">
          <div class="data-form-label">{{translations.commentTitle}}</div>
          <div class="data-form-inputs">
            <textarea cols="30" rows="5" maxlength="500" class="input" [placeholder]="translations.commentPlaceholder" formControlName="comment"
                      [matTooltip]="translations.commentHint" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200"></textarea>
          </div>
        </div>
      </div>

      <div class="order-details">
        <div class="order-details-info">
          <div class="order-details-info-title">{{translations.orderDetailsTitle}}</div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">{{translations.orderProductsCount}}:</div>
            <div class="order-details-info-item-data">{{ cart.count }}</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">{{translations.orderProductsAmount}}:</div>
            <div class="order-details-info-item-data">{{ cart.amount }} EUR</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">{{translations.orderDeliveryPrice}}:</div>
            <div class="order-details-info-item-data"
                 [class.not-valid]="lowDeliveryPrice">{{ activeDeliveryType.delivery_price }} EUR
              <svg *ngIf="activeDeliveryType.lPMinPrice>0 && !lowDeliveryPrice"
                   [matTooltip]="translations.orderDeliveryDiscountAvailableHint + activeDeliveryType.lPMinPrice +' EUR'"
                   matTooltipClass="mat-tooltip-compact"
                   matTooltipPosition="below"
                   matTooltipHideDelay="200"
                   class="attention-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"/>
                <rect height="0.01" stroke-linejoin="round" stroke-width="3" width="0.01" x="12"
                      y="16"/>
                <path d="M12 12L12 8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
            </div>

          </div>
          <div class="order-details-info-item discount" *ngIf="lowDeliveryPrice">
            <div class="order-details-info-item-caption">{{translations.orderDeliveryDiscount}}:</div>
            <div
              class="order-details-info-item-data">{{ activeDeliveryType.low_price - activeDeliveryType.delivery_price }}
              EUR
            </div>

          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">{{translations.orderTotalAmount}}:</div>
            <div class="order-details-info-item-data">{{ finalAmount }} EUR</div>
          </div>
        </div>
        <button class="button" (click)="createOrder()">{{translations.confirmOrderBtnCaption}}</button>
      </div>
    </div>
  </div>
</div>
