<div class="order">
  <div class="container">
    <div class="order-title">Оформление вашего заказа</div>
    <div class="order-info" *ngIf="cart && deliveryTypes.length && activeDeliveryType">
      <div class="data-form" [formGroup]="orderForm">
        <div class="data-form-block">
          <div class="data-form-label">Выберите способ доставки</div>
          <div class="data-form-types">
            <div class="data-form-type-item" *ngFor="let deliveryType of deliveryTypes"
                 [class.active]="activeDeliveryType.id === deliveryType.id"
                 [class.disabled]="deliveryType.disabled"
                 [matTooltip]="deliveryType.disabled?'Метод доставки не доступен':''"
                 matTooltipClass="mat-tooltip-compact"
                 matTooltipPosition="below"
                 matTooltipHideDelay="200"
                 (click)="changeDeliveryType(deliveryType)">{{ deliveryType.deliveryType }}
            </div>
          </div>
        </div>

        <div class="data-form-block">
          <div class="data-form-label">Заполните личные данные</div>
          <div class="data-form-inputs personal-data-inputs">
            <input type="text" class="input" placeholder="Имя" formControlName="firstName" (blur)="changeFirstLetter(firstName)"
                   matTooltip="Введите имя получателя" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input" placeholder="Фамилия" formControlName="lastName" (blur)="changeFirstLetter(lastName)"
                   matTooltip="Введите фамилию получателя" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input" placeholder="Телефон" formControlName="phone"
                   matTooltip="Введите телефон получателя. +4912345678901" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input" placeholder="E-Mail" formControlName="email"
                   [matTooltip]="email?.disabled?'Адрес электронной почты':'Введите адрес электронной почты'" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
          </div>
        </div>

        <div class="data-form-block" *ngIf="activeDeliveryType.addressNeed">
          <div class="data-form-label">Заполните адрес доставки</div>
          <div class="data-form-inputs address-data-inputs">
            <mat-form-field class="select-input region"
                            matTooltip="Выберите регион доставки" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
              <mat-label class="select-label">Выберите регион</mat-label>
              <mat-select  formControlName="region">
                <mat-option [value]="region" *ngFor="let region of regionList">{{region}}</mat-option>
              </mat-select>
            </mat-form-field>
            <input type="text" class="input town" placeholder="Город" formControlName="city"
                   matTooltip="Укажите город доставки" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input zip" placeholder="Индекс" formControlName="zip"
                   matTooltip="Введите почтовый индекс" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input street" placeholder="Улица" formControlName="street"
                   matTooltip="Введите улицу" matTooltipClass="mat-tooltip-compact" matTooltipPosition="before" matTooltipShowDelay="200" matTooltipHideDelay="200">
            <input type="text" class="input house" placeholder="№ дома" formControlName="house"
                   matTooltip="Введите номер дома (10a)" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200">
          </div>
        </div>

        <div class="data-form-block">
          <div class="data-form-label">Выберите способ оплаты</div>
          <div class="data-form-radio">
            <div class="data-form-radio-block" *ngFor="let paymentType of paymentTypes">
              <input type="radio" [id]="'radio_'+paymentType.id" [value]="paymentType.id" formControlName="paymentType">
              <label [for]="'radio_'+paymentType.id">{{paymentType.paymentType}}</label>
            </div>
          </div>
        </div>

        <div class="data-form-block">
          <div class="data-form-label">Комментарий к заказу (необязательно)</div>
          <div class="data-form-inputs">
            <textarea cols="30" rows="5" maxlength="500" class="input" placeholder="Оставьте свой комментарий..." formControlName="comment"
                      matTooltip="Комментарий к заказу до 500 символов" matTooltipClass="mat-tooltip-compact" matTooltipPosition="after" matTooltipShowDelay="200" matTooltipHideDelay="200"></textarea>
          </div>
        </div>
      </div>

      <div class="order-details">
        <div class="order-details-info">
          <div class="order-details-info-title">Ваш заказ</div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">Товаров:</div>
            <div class="order-details-info-item-data">{{ cart.count }}</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">Общая стоимость:</div>
            <div class="order-details-info-item-data">{{ cart.amount }} EUR</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">Стоимость доставки:</div>
            <div class="order-details-info-item-data"
                 [class.not-valid]="lowDeliveryPrice">{{ activeDeliveryType.delivery_price }} EUR
              <svg *ngIf="activeDeliveryType.lPMinPrice>0 && !lowDeliveryPrice"
                   [matTooltip]="'Cкидка на доставку при покупке от '+ activeDeliveryType.lPMinPrice +' EUR'"
                   matTooltipClass="mat-tooltip-compact"
                   matTooltipPosition="below"
                   matTooltipHideDelay="200"
                   class="attention-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"/>
                <rect height="0.01" stroke-linejoin="round" stroke-width="3" width="0.01" x="12"
                      y="16"/>
                <path d="M12 12L12 8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
            </div>

          </div>
          <div class="order-details-info-item discount" *ngIf="lowDeliveryPrice">
            <div class="order-details-info-item-caption">Скидка на доставку:</div>
            <div
              class="order-details-info-item-data">{{ activeDeliveryType.low_price - activeDeliveryType.delivery_price }}
              EUR
            </div>

          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-caption">Итоговая стоимость:</div>
            <div class="order-details-info-item-data">{{ finalAmount }} EUR</div>
          </div>
        </div>
        <button class="button" (click)="createOrder()">Подтвердить заказ</button>
      </div>
    </div>
  </div>
</div>

<ng-template #popup>
  <div class="order-popup">
    <div class="order-popup-close" mat-dialog-close>
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke-linecap="round"/>
        <line x1="13.9238" y1="2.62971" x2="1.90301" y2="14.6505" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="order-popup-title">Благодарим за заказ!</div>
    <div class="order-popup-content">
      <div>Ваш заказ оформлен.</div>
      <div>Вся информация о заказе была выслана вам на почту.</div>
      <div>Курьер свяжется с вами за два часа до доставки товара.</div>
    </div>
  </div>
</ng-template>
