@import "variables";
@import "mixins";
@import "data-form";

.order {
  padding-top: 86px;
  padding-bottom: 107px;

  .container {
    .order-title {
      @include head-lora(32px);
    }

    .order-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;



      .order-details {
        width: 422px;

        .order-details-info {
          padding: 40px;
          border-radius: 5px;
          background: $details-info-bg;
          margin-bottom: 14px;

          .order-details-info-title {
            @include head-lora(26px);
            margin-bottom: 22px;
          }

          .order-details-info-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;


            .order-details-info-item-caption {
              font-size: 16px;
              margin-right: 12px;
            }

            .order-details-info-item-data {
              font-size: 20px;
              font-weight: 500;
              position: relative;
              .attention-icon {
                position: absolute;
                width: 20px;
                height: 20px;
                fill: none;
                stroke: #f2b954;
                right: -24px;
                top: calc(50% - 9px);
                cursor: help;
              }

              &.not-valid {
                color: red;
                text-decoration: line-through;
              }
            }


            &.discount {
              color: $link-color;
            }

            &:last-child {
              margin-bottom: 0;

              .order-details-info-item-caption,
              .order-details-info-item-data {
                font-weight: 600;
              }
            }
          }
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}
