@import "variables";
@import "mixins";

.carousel-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  .carousel-title {
    @include head-lora(32px);
  }

  .carousel-arrows {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 62px;
  }
}
.move-backward,
.move-forward {
  user-select: none;
  width: 16px;
  height: 16px;
  svg {
    fill: none;
    width: 100%;
    height: 100%;
    transition: 0.2s;
  }

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}
