<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Войти в личный кабинет</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Электроная почта"
                 matTooltip='Введите Ваш E-Mail адрес' matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200" formControlName="email">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Пароль" formControlName="password" showPassword
                 matTooltip='Введите Ваш пароль' matTooltipClass="mat-tooltip-compact" matTooltipPosition="before"
                 matTooltipShowDelay="200" matTooltipHideDelay="200"
                 (keydown.enter)="login()">
        </div>
        <div class="auth-group">
            <label class="auth-checkbox">
              <input type="checkbox" formControlName="rememberMe">
              <span class="chk-svg-unchecked chk-svg">
        <svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="13" height="13" rx="2.16667" stroke="#2C2C2C"/>
        </svg>
      </span>
              <span class="chk-svg-checked chk-svg">
        <svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.583333" y="0.583333" width="12.8333" height="12.8333" rx="2.52778" stroke="#519157" stroke-width="1.16667"/>
        <path d="M10.8891 3.2002L6.15224 10.7002L2.59961 5.96335" stroke="#519157" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
              <span class="chk-title">Запомнить меня</span>
            </label>
          <div class="auth-forgot-pass">
            <a routerLink="/reset-password">Забыли пароль?</a>
          </div>
        </div>

      </div>
      <div class="auth-button">
        <button class="button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Зарегистрируйтесь</a>
      </div>

    </div>
    <div class="page-image">
      <img ngSrc="/images/page/login.png" width="731" height="495" priority alt="Flower">
    </div>
  </div>
</section>
