<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Войти в личный кабинет</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Электроная почта"
                 [ngStyle]="{'border-color':email?.invalid && (email?.dirty || email?.touched)?'red':''}"
                 formControlName="email">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Пароль"
                 [ngStyle]="{'border-color':password?.invalid && (password?.dirty || password?.touched)?'red':''}"
                 formControlName="password">
        </div>
        <div class="auth-group">
          <div class="auth-checkbox">
            <input type="checkbox" id = "remember" formControlName="rememberMe">
            <label for="remember">Запомнить меня</label>
          </div>
          <div class="auth-forgot-pass">
            <a routerLink="/reset-password">Забыли пароль?</a>
          </div>
        </div>

      </div>
      <div class="auth-button">
        <button class="button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Зарегистрируйтесь</a>
      </div>

    </div>
    <div class="page-image">
      <img src="/images/page/login.png" alt="Flower">
    </div>
  </div>
</section>
