<section class="signup" [formGroup]="signUpForm" passwordRepeat>
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Регистрация на сатйе</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" placeholder="Электроная почта"
                 [ngStyle]="{'border-color':email?.invalid && (email?.dirty || email?.touched)?'red':''}"
                 formControlName="email">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Пароль"
                 [ngStyle]="{'border-color':password?.invalid && (password?.dirty || password?.touched)?'red':''}"
          formControlName="password">
        </div>
        <div class="auth-input">
          <input type="password" placeholder="Повторите пароль"
                 [ngStyle]="{'border-color':passwordRepeat?.invalid && (passwordRepeat?.dirty || passwordRepeat?.touched)?'red':''}"
                 formControlName="passwordRepeat">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id = "agree" formControlName="agree">
          <label for="agree">Я принимаю <a>условия пользовательского соглашения</a> и даю <a >согласие на обработку персональных данных</a> .</label>
        </div>
      </div>
      <div class="auth-button">
        <button class="button" [disabled]="signUpForm.invalid" (click)="signUp()">Зарегистрироваться</button>
      </div>
      <div class="auth-link">
        Уже есть аккаунт? <a routerLink="/login">Войдите</a>
      </div>

    </div>
    <div class="page-image">
      <img src="/images/page/signup.png" alt="Flower">
    </div>
  </div>
</section>
