@import "variables";
.loader-overlay{
  position: sticky;
  right: 0;
  bottom: 0;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
  z-index: 10;
  margin-top: -68px;
  .loader {
    color: $filter-header-bg;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    //letter-spacing: 2px;
    box-sizing: border-box;
  }
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    right: 79px;
    bottom: 6px;
    height: 18px;
    width: 4px;
    background: currentColor;
  }
  .loader::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    left: 96px;
    top: 2px;
    border-radius: 50%;
    background: red;
    box-sizing: border-box;
    animation: animloader 1s ease-in infinite;
  }
}

@keyframes animloader {
  0% {
    transform: translateY(8px) scaleY(1) scaleX(1.25);
  }
  25%, 75% {
    transform: translateY(-5px) scaleY(1.2) scaleX(1);
  }
  50% {
    transform: translateY(-10px) scaleY(1) scaleX(1);
  }
  100% {
    transform: translateY(8px) scaleY(0.8) scaleX(0.8);
  }
}
