@import "variables";
.auth-form {
  margin-top: 50px;
  margin-bottom: 110px;
  .auth-title{
    font-family: "Lora","sans-serif";
    font-weight: 400;
    font-size: 36px;
    color: $green-text-color;
    margin-bottom: 35px;
  }
  .auth-inputs{
    margin-bottom: 30px;
    .auth-input{
      margin-bottom: 8px;
      input{
        width: 422px;
      }
    }
    .auth-group{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      max-width: 422px;

      .auth-forgot-pass{
        a{
          color: $link-color;
          text-decoration: none;
          &:visited{
            color: $link-color;
            text-decoration: none;
          }
          &:hover{
            color: $link-color-h;
          }
        }
      }

    }
    .auth-checkbox{
      max-width: 422px;
      display: flex;
      align-items: baseline;
      input{
        margin: 0;
      }
      label{
        font-size: 16px;
        line-height: 130%;
        margin-left: 10px;
        a{
          color: $link-color;
          text-decoration: none;
          &:hover{
            color: $link-color-h;
          }
        }
      }
    }

  }
  .auth-button{
    margin-top: 30px;
    button.button{
      width: 422px;
    }
  }
  .auth-link{
    margin-top: 8px;
    font-size: 16px;
    color:$gray-text-color;
    a{
      color: $link-color;
      &:hover{
        color: $link-color-h;
      }
    }
  }
}
