@import "variables";
.auth-form {
  margin-top: 50px;
  margin-bottom: 110px;
  .auth-title{
    font-family: "Lora","sans-serif";
    font-weight: 400;
    font-size: 36px;
    color: $green-text-color;
    margin-bottom: 35px;
  }
  .auth-inputs{
    margin-bottom: 30px;
    .auth-input{
      margin-bottom: 8px;
      input{
        width: 422px;
      }
    }
    .auth-group{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      max-width: 422px;
      .auth-checkbox{
        max-width: 422px;
        display: flex;
        align-items: center;
        .chk-svg{
          width: 14px;
          height: 14px;
        }
        .chk-title{
          font-size: 16px;
          line-height: 130%;
          margin-left: 10px;
          a{
            color: $link-color;
            text-decoration: none;
            &:hover{
              color: $link-color-h;
            }
          }
        }
      }
      .auth-forgot-pass{
        a{
          color: $link-color;
          text-decoration: none;
          &:visited{
            color: $link-color;
            text-decoration: none;
          }
          &:hover{
            color: $link-color-h;
          }
        }
      }
    }
    .agree-checkbox{
      max-width: 422px;
      display: flex;
      align-items: start;
      .chk-svg{
        width: 14px;
        padding-top: 3px;
      }
      .chk-title{
        font-size: 16px;
        line-height: 130%;
        margin-left: 10px;
        max-width: 398px;
        a{
          color: $link-color;
          text-decoration: none;
          &:hover{
            color: $link-color-h;
          }
        }
      }
    }
  }
  .auth-button{
    margin-top: 30px;
    button.button{
      width: 422px;
    }
  }
  .auth-link{
    margin-top: 8px;
    font-size: 16px;
    color:$gray-text-color;
    a{
      color: $link-color;
      &:hover{
        color: $link-color-h;
      }
    }
  }
}
input[type=checkbox]{
  appearance: none;
  position: absolute;
  opacity: 0;
  &~.chk-svg{
    svg{
      width: 100%;
      height: 100%;
      fill: none;
    }
  }

  &~.chk-svg-checked{
    display: none;
  }
  &~.chk-svg-unchecked{
    display: inline;
  }
  &:checked{
    &~.chk-title {
      &:not(.no-color-change){
        color: #519157;
      }
    }
    &~.chk-svg-checked{
      display: inline;
    }
    &~.chk-svg-unchecked{
      display: none;
    }
  }
}
