@font-face{
  src:url("../../../public/fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}
@font-face{
  src:url("../../../public/fonts/Montserrat-SemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}
@font-face{
  src:url("../../../public/fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}
@font-face{
  src:url("../../../public/fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}
@font-face{
  src:url("../../../public/fonts/Montserrat-LightItalic.ttf");
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
}
@font-face{
  src:url("../../../public/fonts/Lora-Regular.woff");
  font-family: "Lora";
  font-weight: 400;
}
