@use '@angular/material' as mat;
@import "variables";
@import "fonts";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input[type=text],
input[type=password],
textarea,
select{
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $input-border;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $gray-text-color;
  outline: none;
}
.small-input[type=text],
.small-input[type=number]{
  box-sizing: border-box;
  border: 1px solid $small-input-border;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $green-text-color;
  font-size: 18px;
  width: 40px;
  height: 28px;
  outline: none;
  // noinspection CssUnknownProperty
  -moz-appearance:textfield;
  &.invalid{
    border-color: $alert-text-color;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//-----Radio-----
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid $input-border;
  box-sizing: border-box;
  border-radius: 100%;
  background: $white-text-color;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: $input-border;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
//-----Radio-----

.button{
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background-color: $green-button-color;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #FFFFFF;
  &.button-transparent{
    background-color: transparent;
    border:1px solid $transparent-btn-border;
    color:$green-text-color;
  }
  &.button-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      margin-left: 16px;
    }
  }
  &.button-in-cart {
    span{
      &:first-child{
        display: block;
      }
      &:last-child{
        display: none;
      }
    }
    &:hover{
      span{
        &:first-child{
          display: none;
        }
        &:last-child{
          display: block;
        }
      }
    }
  }

  &:disabled{
    background-color: gray;
    cursor: not-allowed;
  }
}
a.button{
  display: inline-block;
}

.mat-mdc-menu-item{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  svg{
    fill:#1f1f1f;
    width:24px;
    height:24px;
  }
  .mat-mdc-menu-item-text{
    display: flex;
    align-items: center;
    gap:8px;
    a{
      text-decoration: none;
      color: $gray-text-color;

      &:visited{
        color: $gray-text-color;
      }
    }
  }//Выравннивание иконки в мат меню
}

:root {
  @include mat.snack-bar-overrides((
    container-color: $gray-text-color,
    supporting-text-font: 'Montserrat',
    supporting-text-line-height:1,
    button-color:$snackbar-btn-color,
  ));
}//Миксин с настройками снакбара
.snackbar-error {
  .mat-mdc-snackbar-surface{
    color: $snackbar-err-color !important;
    .mat-mdc-snack-bar-label{
      font-weight: 500;
    }
  }
}
.snackbar-success {
  .mat-mdc-snackbar-surface{
    .mat-mdc-snack-bar-label{
      color: $snackbarTitle-success-color!important;
      font-weight: 500 !important;
    }
  }
}
.snackbar-info {
  .mat-mdc-snackbar-surface{
    .mat-mdc-snack-bar-label{
      color: $snackbarTitle-info-color!important;
      font-weight: 400 !important;
    }
  }
}
.mat-tooltip{
  background-color: $green-bg-color-sections;
  border-radius: 8px;
  padding: 10px;
  .mat-mdc-tooltip-surface{
    font-size: 14px;
    color: $gray-text-color;
    background-color: $green-bg-color-sections;
  }
}
.mat-tooltip-discount{
  background-color: $green-bg-color-sections;
  border-radius: 8px;
  padding: 6px;
  .mat-mdc-tooltip-surface{
    font-size: 14px;
    color: $gray-text-color;
    background-color: $green-bg-color-sections;
    text-align: center!important;
  }
}

