@use '@angular/material' as mat;
@import "variables";
@import "fonts";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
  scroll-behavior: smooth;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input[type=text],
input[type=password],
textarea{
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $input-border;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $gray-text-color;
  outline: none;
  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty,
  &.ngInvalid{
    border: 2px solid red;
  }//стилизация ошибок валидации
  &[disabled] {
    border-color: $input-border-disabled;
  }
}

.password-input{
  position: relative;
  input{
    width: 100%;
  }
  &.old-pass{
    input.ng-valid.ng-dirty.inValid{
      border-color: red;
    }
  }
  &.new-pass-repeat{
    input.inValid{
      border-color: red;
    }
  }
  .password-eye,.password-eye-hide{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: calc(50% - 10px);
    fill: $password-eye-color;
    z-index: 1;
    &:hover{
      fill: $password-eye-color-h;
      cursor: pointer;
    }
  }
  input[type=text]~.password-eye{
      display: none;
    }
  input[type=password]~.password-eye-hide{
    display: none;
  }
  input[disabled]~.password-eye,
  input[disabled]~.password-eye-hide{
    display: none;
  }
}//расширенные стили для полей паролей
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
//-----material select-input-----
:root {
  @include mat.select-overrides((
    panel-background-color: #E7F1E8,//цвет открывающегося списка
    placeholder-text-color:$placeholder-color,
  ));
}

.select-input {
  .mdc-text-field--filled {
    background-color: $white-bg-color!important;
    color: $gray-text-color!important;
    border-radius: 3px;
    border: 2px solid $input-border;
    .mat-mdc-form-field-focus-overlay{
      background-color: white;
    }
    .mdc-line-ripple {
      display: none;
    }
    &:hover{
      color:green;
      .mat-mdc-form-field-infix{
        color:green!important;
      }
    }
  }
  .mat-mdc-text-field-wrapper, .select-label{
    color: $placeholder-color;
  }
  .mat-mdc-form-field-required-marker{
    display: none;
  }
  .mat-mdc-select-value-text{
    color: $gray-text-color;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
  }

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    .mdc-text-field{
      border: 2px solid red;
    }
  }//стилизация ошибок валидации

  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }

  & [aria-expanded="true"] .mat-mdc-select-arrow {
    transform: rotate(180deg);
    transition: transform 200ms ease;
  }//поворот стрелки при открытии
  .mat-mdc-select-arrow {
    transition: transform 200ms ease;
  }//поворот стрелки вниз при закрытии
}
//-----material select-input-----
.small-input[type=text],
.small-input[type=number]{
  box-sizing: border-box;
  border: 1px solid $small-input-border;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $green-text-color;
  font-size: 18px;
  width: 40px;
  height: 28px;
  outline: none;
  // noinspection CssUnknownProperty
  -moz-appearance:textfield;
  &.invalid{
    border-color: $alert-text-color;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//-----Radio-----
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid $input-border;
  box-sizing: border-box;
  border-radius: 100%;
  background: $white-text-color;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: $input-border;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

 input[type="radio"]:disabled + label{
    cursor: not-allowed!important;
    color: $input-border-disabled!important;
   &:before{
     border-color: $input-border-disabled;
   }
  }//disabled стили
//-----Radio-----

.button{
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background-color: $green-button-color;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #FFFFFF;
  &.button-transparent{
    background-color: transparent;
    border:1px solid $transparent-btn-border;
    color:$green-text-color;
  }
  &.button-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      margin-left: 16px;
    }
  }
  &.button-in-cart {
    span{
      &:first-child{
        display: block;
      }
      &:last-child{
        display: none;
      }
    }
    &:hover{
      span{
        &:first-child{
          display: none;
        }
        &:last-child{
          display: block;
        }
      }
    }
  }

  &:disabled{
    background-color: gray;
    cursor: not-allowed;
  }
  .monospace{
    font-family: 'Courier New', Courier, monospace;
  }
}
a.button{
  display: inline-block;
}

.mat-mdc-menu-item{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  svg{
    fill:$header-icon-color;
    width:24px;
    height:24px;
  }
  .mat-mdc-menu-item-text{
    display: flex;
    align-items: center;
    gap:8px;
    a{
      text-decoration: none;
      color: $gray-text-color;

      &:visited{
        color: $gray-text-color;
      }
    }
  }//Выравннивание иконки в мат меню
}

:root {
  @include mat.snack-bar-overrides((
    container-color: $gray-text-color,
    supporting-text-font: 'Montserrat',
    supporting-text-line-height:1,
    button-color:$snackbar-btn-color,
  ));
}//Миксин с настройками снакбара
.snackbar-error {
  .mat-mdc-snackbar-surface{
    color: $snackbar-err-color !important;
    .mat-mdc-snack-bar-label{
      font-weight: 500;
    }
  }
}
.snackbar-success {
  .mat-mdc-snackbar-surface{
    .mat-mdc-snack-bar-label{
      color: $snackbarTitle-success-color!important;
      font-weight: 500 !important;
    }
  }
}
.snackbar-info {
  .mat-mdc-snackbar-surface{
    .mat-mdc-snack-bar-label{
      color: $snackbarTitle-info-color!important;
      font-weight: 400 !important;
    }
  }
}
.mat-tooltip{
  background-color: $green-bg-color-sections;
  border-radius: 8px;
  padding: 10px;
  .mat-mdc-tooltip-surface{
    font-size: 14px;
    color: $gray-text-color;
    background-color: $green-bg-color-sections;
  }
}
.mat-tooltip-compact{
  background-color: $green-bg-color-sections;
  border-radius: 8px;
  padding: 6px;
  .mat-mdc-tooltip-surface{
    font-size: 14px;
    color: $gray-text-color;
    background-color: $green-bg-color-sections;
    text-align: center!important;
  }
}

//-------Стили для контента диалогового окна

.additional-title{
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 600;
}
.message-string{
  font-size: 18px;
  margin-bottom: 8px;
}
