@import "variables";
@mixin head-lora($size:32px){
  font-family: "Lora", "sans-serif";
  font-size: $size;
  color: $green-text-color;
  font-weight: 400;
  line-height: 130%;
  font-style: normal;
}
@mixin image-wrapper(){
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
