$container-width: 1240px;//ширина контейнера
$green-text-color: #202B21;
$gray-text-color: #2C2C2C;
$placeholder-color: #757575;
$black-text-color: #000;
$white-text-color: #fff;
$white-bg-color: #fff;
$base-bg-color: #648F64;
$green-bg-color-sections: #A4CBA3;
$small-input-border:#6CAC72;
$transparent-btn-border:$small-input-border;
$transparent-background:transparent;

$input-border:#2A592E;//reviews-border
$input-border-disabled:#A8ABA7;
$link-color: #519057;
$applied-filter-border: #E7F1E8;
$applied-filter-close: #A8ABA7;
$applied-filter-close-h: $gray-text-color;

$more-link-color: #9AA89B;//info-card
$green-button-color : #456F49;

$snackbar-btn-color : #FAFAFA;
$snackbar-err-color : #d32f2f;
$snackbarTitle-info-color : #f2b954;
$snackbarTitle-success-color : $link-color;
//Catalog
$filter-header-bg:#B6D5B9;
$active-sort-bg-color:#B6D5B9;
$pagination-arrows-color: $gray-text-color;
$pagination-active-page-bg: #C5E6C8;
$pagination-font-color: #292D32;

//Details
$main-title-color: $black-text-color;
$separator-color:#E7F1E8;
$info-text-title-color:#202B21;
$description-text-color:$gray-text-color;
$price-font-color: #313131;
$alert-text-color:$snackbar-err-color;

//Cart
$cart-header-color:$black-text-color;
$remove-btn-color:$applied-filter-close;
$remove-btn-color-h:$applied-filter-close-h;
$details-info-bg:#E7F1E8;
$transp-button-font-color: #6CAC72;

//Order
$delivery-type-border-color:$small-input-border;
$disabled-delivery-type-color:#A8ABA7;

//profile
$page-selector-color:#B6D5B9;
$page-selector-active-color:#519057;

//count-selector
$svg-color: #9AA89B;
$svg-color-h: $green-button-color;


