@import "variables";
header.header{
  padding: 30px 0 49px 0;
  .container{
    .header-content{
      .header-top{
        .header-top-menu{
        }
        .right-side{

          .header-top-phone{
          }
          .header-top-actions{
          }
        }

      }
      .header-bottom{

        .header-bottom-menu{

        }
        .header-bottom-search{

        }
      }
    }
  }
}

