@import "variables";//Чтоб работало без путей, добавил раздел в angular.json
header.header{
  padding: 30px 0 49px 0;
  .container{
    display: flex;
    justify-content: space-between;
    .logo{
      display: flex;
      //align-items: center;
      justify-content: center;

      .logo-link{
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        flex-shrink: 0;
        width: 150px;
        height: 90px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .header-content{
      .header-top{
        padding-top: 32px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #C5C5C5;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;

        .header-top-menu{
          margin-left: 26px;
          margin-right: 191px;//+40 от последнего элемента меню

          nav ul{
            margin: 0;
            padding: 0;
            display: flex;
            li{
              margin-right: 40px;
              list-style: none;

              a {
                color: $green-text-color;
                font-size: 16px;
                line-height: 1;
                cursor: pointer;
                &.active{
                  //text-shadow: 0 2px 4px rgba($green-text-color, 0.30);
                  font-weight: 500;
                  color: $header-icon-color-h;
                }
              }
            }
          }
        }
        .header-top-phone{
          height: 14px;
          a{
            color: $header-icon-color;
            font-size: 16px;
            line-height: 1;
            text-decoration: none;
            margin-right: 59px;
            &:hover{
              color: $header-icon-color-h;
            }
          }
        }
        .header-top-actions{
          display: flex;
          align-items: center;
          margin-right: 22px;
          gap: 8px;
          a{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              position: absolute;
              top: 10px;
              right: -18px;
              width: 18px;
              height: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $green-text-color;
              font-family: 'Montserrat', sans-serif;
              font-size: 9px;
              font-weight: 400;
              line-height: 1;
              border-radius: 50%;
              background-color: #B6D5B9;
            }
            &.active-svg{
              svg{
                fill:$header-icon-color-h;
              }
            }
          }
        }

      }
      .header-bottom{
        padding-top: 16px;
        display: flex;
        gap: 20px;

        .header-bottom-menu{
          margin-left: 26px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          nav ul{
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;
            li{
              list-style: none;
              font-size: 16px;
              line-height: 1;

              a{
                color: $green-text-color;
                border-bottom: 1px solid transparent;

                &.active{
                  border-bottom-color: $green-text-color;
                }
              }

            }
          }
        }
        .header-bottom-search{
          position: relative;
          input{
            border: 1px solid $green-text-color;
            border-radius: 30px;
            padding: 10px 10px 10px 43px;
            font-size: 16px;
            color: $green-text-color;
            box-sizing: border-box;
            width: 214px;
            height: 41px;
            outline: none;
          }
          span{
            position: absolute;
            top: 12px;
            left: 16px;
            width: 16px;
            height: 16px;
            overflow: hidden;
            svg{
              fill: $green-text-color;
            }
          }
          .search-products{
            position: absolute;
            z-index: 3;
            background-color: $result-background-color;
            top: 61px;
            right: 0;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 400px;
            border-radius: 5px;
            border: 1px solid $result-border-color;
            box-shadow: 0 4px 12px rgba(0,0,0, 0.1), 0 16px 24px rgba(0,0,0, 0.2);
            overflow: hidden;
            .search-product{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: start;
              padding: 12px 23px;
              gap: 24px;
              background-color: $result-background-color;
              cursor: pointer;
              user-select: none;

              .search-product-image{
                width: 48px;
                height: 48px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                &.disabled{
                  filter: grayscale(1);
                }
              }
              .search-product-name{
                color: $result-text-color;
              }
              &:hover{
                background-color: $result-background-color-h;
                .search-product-image.disabled{
                  filter: grayscale(0);
                }
                .search-product-name{
                  color: $result-text-color-h;
                }
              }
            }
          }
        }
      }
    }
  }
}

.svg-icon{
  width: 24px;
  height: 24px;
  fill:$header-icon-color;
  &:hover{
    fill:$header-icon-color-h;
  }
}

